body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1c1c1c;
}

@font-face {
  font-family: "小塚ゴシック Pr6N";
  src: url("../font/pr6n.woff") format("woff");
  src: url("../font/pr6n.otf") format("otf");
  src: url("../font/pr6n.ttf") format("truetype");
  font-weight: 400;
}
